@charset "utf-8";

/*add standard style to use for document*/

*{box-sizing: border-box;}

html { 
    font-size: 10px;
}

body {
    background-color: #1C3368;
    color: #1C3368;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin: 0, auto;
    width: 100%;
}

/*section 6columns Grid for all*/
section{
    background-color:#E5E8F0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 8px;
    padding: 1.6rem;
    max-width: 100%;
}
/*allowing elements to spread to right margin*/
header, figure, .blue, h1, h2, h3, h4, h6, ul, .blue p, .hero {
    grid-column: 1 / span 6;
}

/*controling the size of the images viewer*/
.image-fit {
    width: 70vmin;
    grid-column: 1 / span 6;
}

/*control over large center images*/
.largeCenter {
    width: 75vw;
}
/*button primary*/
button {
    background-color: #1C3368;
    border: none;
    color:#E5E8F0;
    cursor: pointer;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    margin: 1.2rem 0rem 1.2rem 0rem;
    padding: .8rem;
    border-radius: .4rem;
    text-align: center;
    text-decoration: none;
    width: 50vw;
  }
.hero button {
        background-color:#E5E8F0;
        color: #1C3368;
      }
  button a {
      color: #E5E8F0;
  }
/*link text color*/
a {
    color: #33E1AC;
    text-decoration: none;
}

/*Font h1-h6 sizes*/
h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: .05rem;
    padding-top: 3.2rem;
}
 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .05rem;
    padding-top: 2.4rem;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .02rem;
    line-height: 2.4rem;   
}
h4 {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2rem;
}
h5 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

h6 {
    font-size: 1rem;
}

/*font sizes for text, et all..*/
blockquote {
    color: #FF28B1;
    font-style: italic;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-bottom: 1.6rem;
    grid-column: 1 / span 6;
    }

.xsmall-text {
    font-size: .8rem;
    padding:0rem;
}

p {
    line-height: 2rem;
    padding-bottom: 1.6rem;
    padding-right: 1rem;
    grid-column: 1 / 7;
}

/*Figure images containers*/
figure {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-size: 1.1rem;
    padding-bottom: 1.6rem;
}

figcaption {
    color: #E5E8F0;
    font-size: 1.2rem;
    letter-spacing: .03rem;
    padding-top: .5rem;
    padding-bottom: 1.8rem;
}

.blueType {
    color: #1C3368;
    font-size: 1.2rem;
    letter-spacing: .03rem;
    padding-top: .5rem;
    padding-bottom: 1.8rem;
}
/*selections adjustments for backgrnd color*/

.hero {
    background-color: #1C3368;
    color: #E5E8F0;
    max-width: 100%;
}

.flushBtm{
    padding-bottom: 0rem;
    max-width: 100%;
}
.blue {
    background-color: #1C3368;
    color: #E5E8F0;
    max-width: 100%;
}

.blue blockquote {
color: #FF28B1;
font-style: italic;
font-weight: 500;
font-size: 1.8rem;
line-height: 2.6rem;
padding-bottom: 1.6rem;
grid-column: 1 / span 6;
}

.green {
    background-color: #33E1AC;
    color: #1C3368;
    max-width: 100%;
}

.quoteCredit {
  font-size: 1.2rem;
}
/*ul li */

ul{
 padding-bottom:1.6rem;
 padding-right: 1rem;
}

ul li {
    color: #1C3368;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 200;
    padding-left: 1.2rem;
}

/* ul li # list*/
.blue ol{
    padding-bottom:1.6rem;
   }
   
.blue ol li {
       color: #1C3368;
       font-size: 1.3rem;
       line-height: 2rem;
       font-weight: 200;
       padding-left: 1.2rem;
       list-style-position: inside;
       
   }

/*add titles to the list*/
ul[title]::before {
    content: attr(title);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #1C3368;
}
/*add bullets / checks to the list & diff colors*/

.sym-blue ul {
    grid-column: 1 / span 6;
} 
.sym-blue ::before{
    color: #1C3368;
    content: "• ";
}

.sym ::before{
    color:#E5E8F0;
    content: "• ";
}

.check ::before{
    color: #1C3368;
    content: "\2713";
    padding-right: .5rem;
}

/*section Green background changes for sections and lists*/
.green ul {
    width: 90vw;
}

.green ul li{
    color: #1C3368;
    line-height: 2.4rem;
}


.green ul[title]::before{
    color: #1C3368;
}

/*section Blue background changes for sections and lists*/

.blue ul li{
    color: #E5E8F0;
}
.blue .action-list ul ::before {
    content: "\271A";
    color: #E5E8F0;
}
.blue ul[title]::before {
    color: #E5E8F0;
}

.navwrap{
    background-color: #1C3368;
    display: inline-flex;
    width: 100%;
    position: fixed;
    border-bottom: .001rem solid rgba(51, 225, 172, .3);
}

.top-wrap img{
 max-width: 15vh;
}

nav{
    grid-column: 7;
    align-self: center;    
}

nav #hamburger {
    cursor: none;
    display: none;
}

nav label {
    cursor: pointer;
    color: #E5E8F0;
    font-style: normal;
    font-size: 400%;
}

nav ul li {
    display: block;
    position: relative;
}

nav ul li a {
    color: #E5E8F0;
    text-decoration: none;
}

.active {
    border-bottom:1px solid #33E1AC;
}

nav ul {
    display: none;
    position: absolute;
    background:rgba(19, 83, 194, 0.5);
    border-radius: .5rem;
}

nav input:checked ~ ul {
    display: block;
}



/*HEADER HERO STATEMENT special typefaces*/
.hero {
    padding-top: 10rem;
}
.hero h1{  
    /* mobile-mission=hero-statement */
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color:  #33E1AC;
    grid-column: 1 /span 6;
}
.hero h3 {
color: #E5E8F0;
font-weight: regular;
font-size: 2rem;
line-height: 2.8rem;
letter-spacing: .05rem;
padding-bottom: 3.2rem;
grid-column: 1 /span 6;
}

.hero p {
    grid-column: 1 / span 6;
    text-align: center;
}
.hero img {
    background-color: #1C3368;
    grid-column: 4;
    padding-right: 6rem;
}

/*section case study overview*/
/*for two col in desktop*/
.overview .left {
    grid-column: 1 / span 3 ;
}
.overview .right{
    grid-column: 4 / span 6;
}

.overview ul[title]::before{
    color:#1C3368;
}

/*section problem and solution*/
.spread-left-content{
    grid-column: 1 /span 6; 
    }
.spread-right-content{
    grid-column: 1 /span 6; 
    }

/*User Flows imgs need to be bigger than most*/
.widthClass{
    grid-template-columns: repeat(6,1fr);
    grid-column: 1 / span 6;
}
.widthClass img {
    width: 80vw;
}


.side-side img {
    width: 45%;
    padding: 0rem .4rem;
}
.side-side {
    grid-column: 1 /span 6;
    width:100%;
}


/*Blue White Border Table*/
.tableH {
    color: #E5E8F0;
    padding: 1.6rem;
}

.Rows-4cols {
    display:flex;
    flex-wrap: wrap;
    padding: 0;
}
/*4row*/
.cell {
    border: solid .15rem #E5E8F0;
    box-sizing: border-box;
    flex-grow: 1;
    list-style: none;
    overflow: hidden; 
    padding: 1rem 1rem;
    width: 25%; 
  }
.cell-top {
    background-color: #E5E8F0;
    border: .15rem solid #1C3368;
    flex-grow: 1;
    list-style: none;
    overflow: hidden; 
    padding: 1rem 1rem;
    width: 25%; 
}
  .Rows-4cols h5 {
    color: #E5E8F0;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 1.6rem;
    padding-bottom: 1.6rem; 
}

.Rows-4cols .cell-top h5 {
    color: #1C3368;
}

.Rows-4cols .cell-box-color h5 {
    color: #1C3368;
    font-weight: 700;
    letter-spacing: .1rem;
}
.cell-box-color {
    background-color: #33E1AC;
    border: .15rem solid #E5E8F0;
    flex-grow: 1;
    list-style: none;
    overflow: hidden; 
    padding: 1rem 1rem;
    width: 25%; 
}

/*instead of div div just used br and targeted for spacing*/
br {
    margin-bottom: 1.6rem;
}

/*Key Market Validation*/

/*stat styles here*/
.statInfo {
    row-gap: 1.2rem;
    color: #E5E8F0;
}
.statInfo h2 {
    padding-top: 3.2rem;
}
.statInfo p {
    line-height: 1.6rem;
    padding-bottom: 0rem;
    }
.stat-green{
        color: #1C3368;
    }
.statInfo .xsmall-text {
    padding-bottom: 1.6rem;
}
.stat ul[title]::before{
    color:#E5E8F0;
}
.stat li {
    color: #E5E8F0;
    font-size: 1.8rem;
    letter-spacing: .05rem;
    line-height: 2.4rem;
    font-style: italic;
    padding-bottom: 1.6rem;
    border-left: .2rem solid #33E1AC;
}

.percent{
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 1.5rem;
}
.green-list li{
    color: #1C3368;
}
.action-list {
    grid-column: 1 / 6;
}


.action-list li {
    color: #E5E8F0;
    line-height: 2.4rem;
}
.action-list ::before {
    content: "\271A";
    color: #E5E8F0;
}

/*personas*/

.block-name {
    background-color: #1C3368;
    color: #E5E8F0;
    padding: 1.6rem 0rem 0rem 1.2rem;
    width: 40vw;
    grid-column: 1 / span 6;
    vertical-align: center;
}

.persona img {
    border-bottom:.2rem solid #FF28B1;
    grid-column: 1 / span 6;
}

.next-row {
    width: 100%;
}
.large-img-settings img{
    width: 40%;
}

/*about page*/
.about{
    background-color: #1C3368;
    padding-top: 10rem;
    color: #E5E8F0;
}

.about p{
    color: #E5E8F0;
}

.about h1{  
    /* mobile-mission=hero-statement */
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color:  #33E1AC;
    grid-column: 1 /span 6;
}


/* adding flex to the footer*/
.btm-bar {
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: space-between;
    margin-top: 0rem;
    padding:1.6rem;
}
.btm-bar p{
    align-self: center;
    color: #33E1AC;
    line-height: 1.2rem;
    flex-shrink: 0;
    font-size: 1.2rem;
    padding: 0rem;

}

.btm-bar img{
    width: 80%;
}

/* responsive refractoring */

/* tablet portrait & landscape */
@media only screen and (min-device-width : 700px) {
html {
    font-size: 12px;
}
section {
    padding-left: 4rem;
}

/*menu*/
.top-wrap img{
    max-width: 10vw;
   }
nav{
    grid-column: 5 / span 8;
}
/*burger*/
nav label {
    display:none;
}

nav ul li {
    display: inline;
}

nav ul {
    background:none;
    display: inline-flex;
    justify-content: space-evenly;
    padding-bottom: 0rem;
}

button {
    max-width: 70%;
    grid-column: 1;
  }

/*homepage image*/
.flushBtm img {
    grid-column: 1;
}

.image-fit, .persona .image-fit {
    width:50vw;
    grid-column: 4;
}

.widthClass{
    width: 80%;
}
.widthClass img {
    width: 80%;
}
.side-side {
    width: 60%;
}
/* Styles */ }

/* Desktops and laptops ----------- */

@media only screen

and (min-width : 1024px) {
html {
        font-size: 14px;
    }
section {
    grid-template-columns: repeat(12,1fr);
    padding-left: 0rem;
}

header, figure, h1, h2, h3, h4, h5, h6, ul, .hero h3, .navwrap, .hero h1, .hero p, .blue p, p, .blue h2, blockquote, .blue blockquote, ul, .action-list, .block-name, .flushBtm img {
    grid-column: 3 / span 8;
    max-width: 100%;
}
.top-wrap{
    grid-column: 2;
    width: 100%;
}

.top-wrap img{
    max-width: 8vw;
   }

nav{
    grid-column: 8;
}

.hero img{
    grid-row: 4;
    grid-column: 7;
}

.image-fit, .persona .image-fit {
 width: 30vw;
 grid-column: 4 / span 10;
}

.flushBtm .image-fit img {
    grid-column: 7;
}
.widthClass{
    grid-column: 3 / span 12;
}
.widthClass img {
    width: 100%;
}
.side-side {
    grid-column: 3 / 12;
    width: 100%;
 
}
.side-side img {
    width: 40%;
}
/* Styles */ }
