@charset "utf-8";

/*add standard style to use for document*/

*{box-sizing: border-box;}
html{ 
    font-size: 10px;
}

body{
    background-color: #1C3368;
    color: #1C3368;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
}
/*button primary*/
button {
    background-color: #1C3368;
    border: none;
    color:#E5E8F0;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
  }

a {
    color: #FF28B1;
    text-decoration: none;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: .05rem;
    padding-bottom: 1rem;
}
 h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .05rem;
    padding-top: 2.4rem;
    }

h3 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .02rem;
    line-height: 2.4rem;
}
h4 {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2rem;
}
h6 {
    font-size: 1rem;
}
.xsmall-text {
    font-size: .8rem;
    padding:0rem;
}

p {
    line-height: 2rem;
    padding-bottom: 1.6rem;
}

figure {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

blockquote {
color: #FF28B1;
font-style: italic;
font-weight: 500;
font-size: 1.8rem;
line-height: 2.6rem;
padding-bottom: 1.6rem;
}
.quoteCredit {
  font-size: 1.2rem;
  grid-column: 1 /span 7;
}

ul{
 padding-bottom:1.6rem;
 width: 85vmin;
}

ul li {
    color: #1C3368;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 200;
    padding-left: 1.2rem;
}
/*NUM list*/
.blue ol{
    padding-bottom:1.6rem;
   }
   
.blue ol li {
       color: #1C3368;
       font-size: 1.4rem;
       line-height: 2rem;
       font-weight: 200;
       padding-left: 1.2rem;
       list-style-position: inside;
       
   }

/*add title to the list*/
ul[title]::before {
    content: attr(title);
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: #121C2A;
}
/*add bullets / checks to the list & diff colors*/
.sym-blue ::before{
    color: #1C3368;
    content: "• ";
}

.sym ::before{
    color:#E5E8F0;
    content: "• ";
}

.check ::before{
    color: #1C3368;
    content: "\2713";
    padding: .5rem;
}

/*section 6columns Grid for all*/
section{
    background-color:#E5E8F0;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 8px;
    padding: 1.6rem;
}
/*allowing elements to spread to right margin*/
section blockquote, header, h1, h2, h3, h4, h6, p, ul {
    grid-column: 1 / span 7;
}

/*controling the size of the images viewer*/
.image-fit {
    width: 80vmin;
}

/*section Green background changes for sections and lists*/
.green {
    background-color: #33E1AC;
    color: #1C3368;
}

.green ul li{
    color: #1C3368;
}

.green ul[title]::before{
    color: #1C3368;
}

/*section Blue background changes for sections and lists*/
.blue {
    background-color: #1C3368;
    color: #E5E8F0;
}
.blue ul li{
    color: #E5E8F0;
}
.blue .action-list ul ::before {
    content: "\271A";
    color: #E5E8F0;
}
.blue ul[title]::before {
    color: #E5E8F0;
}
/*HEADER MENU*/
/*center logo icon*/
.topBar img {
    grid-column-start: 3;
}
 /*hide text menu, show burger*/
.topBar nav {
    grid-column-start: 6;
    overflow: hidden;
}

/*hide text menu for desktop*/
.topBar nav a {
    display: none;
  }

/*display hamburger menu*/
.topBar nav a.icon {
    display: block;
    padding: 1.8rem 1rem;
    color: #E5E8F0;
  }

/* HEADER HERO STATEMENT*/
.hero h1{  
    /* mobile-mission=hero-statement */
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    color:  #2DFFC0;
}
.hero h3 {
color: #E5E8F0;
font-weight: regular;
font-size: 2rem;
line-height: 2.8rem;
letter-spacing: .05rem;
padding: 0;
}

.hero p {
    text-align: center;
    padding-top: 3.2rem;
}
.hero img {
    background-color: #1C3368;
    grid-column: 4;
    padding-right: 6rem;
}
/*gallery home page section for casestudy*/
.casestudy-link {
    padding-bottom: 0;
    }
/*images on hero page*/
.casestudy-link img {
    width: 20rem;
}
/*Adding blen-mode to images temp FIX-->for the meantime until, I clean up background in PS*/
.casestudy-link .side-img{
    width: 20rem;
    margin: 1.2rem 0rem 0rem 16rem;
    mix-blend-mode: multiply;
}

/*section case study overview*/
/*for two col in desktop*/
.overview .left {
    grid-column: 1 / span 3 ;
}
.overview .right{
    grid-column: 4 / span 6;
}

.overview ul[title]::before{
    color:#1C3368;
}

/*section problem and solution*/
.spread-left-content{
    grid-column: 1 /span 6; 
    }
.spread-right-content{
    grid-column: 1 /span 6; 
    }

/*table for SWOT*/
.tg-wrap table {
    background-color: #1C3368;
    color: #E5E8F0;
    border: solid .2rem #1C3368;
    border-bottom: solid .2rem #E5E8F0;
}

.tg-wrap td {
    border: .1rem solid #E5E8F0;
    font-size: 1.05rem;
    font-weight: lighter;
    letter-spacing: .05rem;
    line-height: 1.2rem;
    padding: .8rem .5rem;
    vertical-align: center;
}
.tg-wrap .table-title {
    border: .2rem solid #1C3368;
    background-color: #E5E8F0;
    color: #1C3368;
    text-align: left;
}
.tg-wrap .table-title th {
    border: .2rem solid #1C3368;
    padding: .8rem .5rem;

}

.tg-wrap .row-header {
    background-color: #E5E8F0;
    color: #1C3368;
    text-align: center;
    border: solid .2rem #1C3368
}
/*instead of div div just used br and targeted for spacing*/
br {
    margin-bottom: 1.6rem;
}

/*Key Market Validation*/

/*stat stles here*/
.statInfo {
    row-gap: 1.2rem;
    color: #E5E8F0;
}
.statInfo h2 {
    padding-top: 3.2rem;
}
.statInfo p {
    line-height: 1.6rem;
    padding-bottom: 0rem;
    }
.stat-green{
        color: #1C3368;
    }
.statInfo .xsmall-text {
    padding-bottom: 1.6rem;
}
.stat ul[title]::before{
    color:#E5E8F0;
}
.stat li {
    color: #E5E8F0;
    font-size: 1.8rem;
    letter-spacing: .05rem;
    line-height: 2.4rem;
    font-style: italic;
    padding-bottom: 1.6rem;
    border-left: .2rem solid #33E1AC;
}

.percent{
    font-size: 1.8rem;
    font-weight: bold;
    padding-right: 1.5rem;
}
.green-list li{
    color: #1C3368;
    font-style: initial;
}
.action-list li {
    color: #E5E8F0;
}
.action-list ::before {
    content: "\271A";
    color: #E5E8F0;
}

/*personas*/
.block-name {
    background-color: #1C3368;
    color: #E5E8F0;
    padding: 1.6rem 0rem 0rem 1.2rem;
    width: 20vh;
    vertical-align: center;
}

.persona ul li {
    padding: 0rem;
    color: #1C3368;
}
.persona img {
    border-bottom:.2rem solid #FF28B1;
}

/*wireframe summary figure*/
figure {
    grid-column: 1 / span 7;
}
figure img {
    width: 16rem;
}

.next-row {
    width: 100%;
}
.large-img-settings img{
    width: 33rem;
}

/*adding flex to the images*/
.stack{
    display:flexbox;
    justify-content: start;
    margin: 1.6rem;
    padding-bottom: .8rem;
    flex-wrap: wrap;
}

.stack img{
    padding: .2rem;
}
.stack :first-child {
    padding-left: 6rem;
}
.stack :nth-last-child(2) {
    padding-left: .75rem;
}
.stack-last{
    display:flexbox;
    justify-content: start;
    margin-left: 9rem;
    padding-bottom: .8rem;
    flex-wrap: wrap;
}
.stack-last :last-child {
    margin-left: 2.3rem;
}

/* adding flex to the footer*/
.btm-bar{
    display: inline-flex;
    font-size: .8rem;
    justify-content: space-evenly;
    margin-top: 0;
}
.btm-bar p{
    padding: 1.6rem;
    line-height: 1rem;
    flex-shrink: 0;
}

footer img {
    width: 11rem;
}


/*for responsive menu*/
/*to use for desktopView
.topBar nav li{
    display: inline;
    padding: 8px;
} */